.card-transparent{
    background-color: transparent ;
    box-shadow: none;
    margin-top: 1rem; 
    cursor: pointer;
}
.card-black{
    background-color:#F58D30;
    border-radius: .4rem;
    color: #212121;
}
.logo-color{
    color: #F58D30;
}
.card-text--size{
    // font-size: 1.2rem !important;
    color:#212121 !important;
}
.small{
    font-size: .8rem;
}
